/* Variables */

* {
  --primaryColour: red;
  --defaultFont: "JetBrains Mono";
  --defaultHeight: 90vh;
}

/* Global */

* {
  box-sizing: border-box;
  font-family: var(--defaultFont);
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

main {
  min-height: var(--defaultHeight);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > p {
  margin: 5px 0;
}

section {
  min-height: calc(var(--defaultHeight) / 2);
}

/* non-Global */

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}